#hawtio-header-brand.pf-v6-c-masthead__logo {
  /* Max height of the logo image inside the MastheadBrand/MastheadLogo/Brand */
  --pf-v6-c-masthead__logo--MaxHeight: 2rem;
}

.pf-v6-c-menu__item-text a {
  /* No link styling for <Link> elements in menus */
  text-decoration: none;
  color: unset;
}
